<p id="notice"><%= notice %></p>

<h1> <%= I18n.t 'authors.create.title' %> </h1>
<%= form_with model: @author do |form| %>
  <div>
    <%= form.label I18n.t 'authors.create.fields.first_name' %><br>
    <%= form.text_field 'first_name' %>
  </div>

  <div>
    <%= form.label I18n.t 'authors.create.fields.last_name' %><br>
    <%= form.text_field 'last_name' %>
  </div>

  <div>
    <%= form.label I18n.t 'authors.create.fields.homepage' %><br>
    <%= form.text_field 'homepage' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>